/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, Arial);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-attachment: fixed;
  background-image: var(--cover-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--accent-color);
  background-color: var(--bg-color);
  font-variation-settings: "wght" var(--card-paragraph-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font, sans-serif);
  padding-top: 138px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding-bottom: 19px;
  gap: 19px;
  width: var(--content-width);
  margin-top: 100px;
  margin-bottom: 100px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.0517rem + 4.4818vw, 4.0625rem);
}
.header__title:focus {
  outline: none;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.2546rem + 2.521vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 3px;
  padding-left: 20px;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 60%;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 60%;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--main-font-size);
  gap: 50px;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  width: var(--content-width);
  border: 2px solid var(--accent-color);
}

.content__card-title {
  width: 100%;
  font-size: var(--main-font-size);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-variation-settings: "wght" var(--card-title-font-weight);
}

.content__card-visual {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.content__card-visual-text {
  text-align: end;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  padding: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  line-height: 14px;
  opacity: 50%;
  text-shadow: -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color),
    -1px 1px 0 var(--bg-color), 1px 1px 0 var(--bg-color);
}

@supports (
  (text-stroke: 1px #000000) or (-webkit-text-stroke: 1px var(--bg-color))
) {
  .content__card-visual-text {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.content__card-visual-image {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  object-fit: cover;
  object-position: center;
}

.bright {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(20%);
}

.blury {
  filter: blur(3.2rem);
}

.transparent {
  filter: opacity(80%);
}

.grey {
  filter: grayscale(0.8);
}

.saturation {
  filter: saturate(158%);
}

.hue {
  filter: hue-rotate(-90deg);
}

.sepia {
  filter: sepia(80%);
}

.multipleFilter {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.content__card-paragraph {
  width: 100%;
  font-size: var(--main-font-size);
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 25px;
  line-height: 21px;
  font-variation-settings: "wght" var(--card-paragraph-font-weight);
}

.content__card-like {
  width: 100%;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  display: inline-flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.like-icon {
  min-width: 27px;
  min-height: 24px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  z-index: 0;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button:hover::after {
  width: 100%;
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font);
  color: var(--save-icon-color);
  mix-blend-mode: difference;
  font-weight: 400;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
}

.footer {
  margin-bottom: 100px;
  padding: 0px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px 15px 20px;
}

.footer__button-icon {
  width: 21px;
  height: 21px;
  fill: var(--save-icon-color);
  mix-blend-mode: difference;
}

dialog {
  position: fixed;
  inset: 0;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding: 30px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  min-width: 353px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}

.dialog__info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  line-height: 21px;
  text-transform: uppercase;
  gap: 15px;
}

.dialog__save-icon {
  fill: var(--accent-color);
  width: 39px;
  height: 39px;
}
.dialog__paragraph {
  max-width: 234px;
}

.save__button {
  width: 100%;
  padding: 10px 17px 10px 17px;
}

@media (width <= 375px) {
  .footer__button {
    flex-direction: column;
  }

  .footer__button-icon {
    width: 28px;
    height: 28px;
  }

  dialog {
    padding: 30px 40px 30px 40px;
    min-width: 341px;
  }
  .header {
    padding-top: 122px;
  }
  .content__card-visual-text {
    padding-right: 13px;
  }
  .dialog__paragraph {
    max-width: 198px;
  }
}
