/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, Arial);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-attachment: fixed;
  background-image: var(--cover-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:var(--accent-color);
  background-color: var(--bg-color);
  font-variation-settings:'wgth' var(--card-paragraph-font-weight);
}

.header{
  display:flex;
  flex-direction:column;
  align-items: center;
  font-family: var(--accent-font, sans-serif);
  padding-top:138px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding-bottom: 27px;
  gap:25px;
  width:var(--content-width);
  margin-top:100px;
  margin-bottom:100px;
}
.header__title{
  font-size: clamp(3.0625rem, 2.1017rem + 4.4818vw, 4.0625rem);
}
.header__subtitle{
  font-size: clamp(0.875rem, 0.3346rem + 2.521vw, 1.4375rem);

}
.content{
  display:flex;
  flex-direction:column;
  align-items: center; 
}
.theme-menu__list{
  display:flex;
  flex-direction:column;
  gap:10px;
  
}


.theme-menu__button{
border: none;
background: none;
text-align: center;
font-size: 14px;
position:relative;
padding-left:0px;
}

.theme-menu__button:disabled {
    pointer-events: none;
    opacity: 60%;
  }

  .theme-menu__button:disabled::before {
    content:"▶";
    position: absolute;
    left:-20px;
  }
  
.theme-menu__button:hover {
  cursor:pointer;
}

.theme-menu__button:focus{
  outline: none;
}

.theme-menu__button:focus-visible {
  
  opacity: 60%;
}
.theme-menu__button::after {
content: '';
display: block;
width: 0%;
height: 2px;
margin-top: 2px;
background-color: var(--accent-color);
transition: width 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}


.content__card{
  display:flex;
  flex-direction:column;        
  align-items: center;
  background-color: var(--bg-color);
  width:var(--content-width);
  border: 2px solid var(--accent-color);

}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  margin-top:50px;
  margin-bottom: 100px;
  padding:0px;
}
.footer__button{
  width:336px;
  height:55px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}
.footer__button-text{
  font-size:14px;
}

@media (width <= 375px){

}
