/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --main-font: "Inter", Arial, monospace;
    --accent-font:"PressStart2P", sans-serif;
    --cover-image: repeating-linear-gradient( #d3d3d3,#d3d3d3 2px, rgba(0,0,0,0) 2px,rgba(0,0,0,0) 4px),
    repeating-linear-gradient(90deg, #d3d3d3,#d3d3d3 2px, rgba(0,0,0,0) 2px,rgba(0,0,0,0) 4px),
    linear-gradient(#e7e7e7,#1a1a1a);
    --bg-color: rgba(255, 255, 255, 1);
    --accent-color:rgba(0, 0, 0, 1);
    --card-title-font-weight:700;
    --card-paragraph-font-weight:400;
    --content-width:clamp(375px, 100%, 700px);
    --main-font-size:18px;
}